<li>
  <div class="space-y-4">
    <div class="aspect-w-3 aspect-h-2">
      <img
        class="object-cover shadow-lg rounded-lg"
        [src]="'https://picsum.photos/400/400?random=' + user.id"
        alt=""
      />
    </div>

    <button
      routerLink="/user-details"
      type="button"
      class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    >
      {{ user.name }}
    </button>
  </div>
</li>
