<div class="bg-white">
  <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
      <div class="lg:col-span-2">
        <ul
          role="list"
          class="space-y-12 sm:divide-y sm:divide-gray-200 sm:space-y-0 sm:-mt-8 lg:gap-x-8 lg:space-y-0"
        >
          <li class="sm:py-8">
            <div
              class="space-y-4 sm:grid sm:grid-cols-3 sm:items-start sm:gap-6 sm:space-y-0"
            >
              <div class="aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                <img
                  class="object-cover shadow-lg rounded-lg"
                  src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                  alt=""
                />
              </div>
              <div class="sm:col-span-2">
                <div class="space-y-4">
                  <div class="text-lg leading-6 font-medium space-y-1">
                    <h3>Name : {{ user.name }}</h3>
                    <p class="text-indigo-600">Company : {{ user.company }}</p>
                  </div>
                  <div class="text-lg">
                    <p class="text-gray-500">Adress : {{ user.address }}</p>
                  </div>
                  <ul role="list" class="flex space-x-5">
                    <li>
                      <a href="#" class="text-gray-400 hover:text-gray-500">
                        <span class="sr-only"
                          >Website : {{ user.website }}</span
                        >
                      </a>
                    </li>
                    <li>
                      <a href="#" class="text-gray-400 hover:text-gray-500">
                        <span class="sr-only">Phone : {{ user.phone }}</span>
                      </a>
                    </li>
                    <li>
                      <a
                        routerLink="/posts"
                        class="text-gray-400 hover:text-gray-500"
                      >
                        <span class="sr-only">Posts</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
